.Toolbar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    background-color: #263238;

    width: 100%;
    height: 55px;
    min-height: 55px;
}

.Profile {
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    flex: 1;
}

.Profile span {
    margin-right: 5px;
    align-self: center;
}

.Profile img {
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

.Settings {
    margin-left: 10px;
    display: flex;
    flex: 1;
}

.NavButton {
    cursor: pointer;
    user-select: none;
}

.SearchInput {
    display: flex;
    align-self: center;
    flex: 1;

    margin-left: 10px;
    margin-right: 10px;

    height: 30px;
    border-radius: 25px;
    padding-left: 35px;
    padding-right: 10px;
    background-repeat: no-repeat;
    font-size: large;

    /*todo change icon to svg*/
    background-image: url('search-icon.png');
    background-position: 10px 50%;
}

.SearchInput:focus {
    outline: none;
}

@media (max-width: 600px) {
    .Profile span {
        display: none;
    }
}
